<h2>Templates: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" #myForm="ngForm" >
            <!-- campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-7">
                    <input type="text"
                            required
                            autocomplete="off"
                            class="form-control"
                            ngModel
                            name="products"
                            placeholder="Nombre del producto"
                            minlength="3">
                            
                            <span class="form-text text-danger"
                                   *ngIf="validacion()">
                                Debe ser de 3 letras</span>
                </div>
            </div>
            <!-- campo de precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-7">
                    <input type="number"
                            required
                            class="form-control"
                            ngModel
                            name="price"
                            placeholder="Precio del producto"
                            min="1">
                </div>
            </div>
            <!-- campo de existencia -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-7">
                    <input type="number"
                           class="form-control"
                           ngModel
                           name="existencias"
                           placeholder="Existencias del producto">

                           <button type="submit"
                           class="btn btn-primary float-end mt-3">
                            Guardar
                           </button>
                </div>
            </div>

        </form>

    </div>

</div>
